@using ActivelyApp.Models.Common;
@model Response
@{
    ViewData["Title"] = "Response";
}

@{
    var classtext = "";
    var result = "";
    if (Model.IsSuccess)
    {
        classtext = "text-success";
        result = Resources.Common.Success;
    }
    else
    {
        result = Resources.Common.Error;
        classtext = "text-danger";
    }
}
<h1 class=@classtext>@result</h1>
<h2 class=@classtext>@Html.DisplayFor(model => model.Message)</h2>
