<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<extension>
		<add assembly="NLog.Web.AspNetCore"/>
	</extension>

	<!-- the targets to write to -->
	<targets>
		<target xsi:type="ColoredConsole" name="console" layout="${date:format=HH\:mm\:ss} ${logger} | ${level:uppercase=true} | ${message}">
			<highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" />
			<highlight-row condition="level == LogLevel.Debug" foregroundColor="Cyan" />
			<highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
			<highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
			<highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
			<highlight-row condition="level == LogLevel.Fatal" foregroundColor="Magenta" />
		</target>
	</targets>

	<!-- Log everything to console except Trace -->
		<rules>
			<logger name="*" minlevel="INFO" writeTo="console"></logger>
		</rules>
</nlog>
